<div class="container">
    <h1 class="text-center m-5">Our Mission Statement</h1>
    <div class="text-center shadow-lg p-3 mb-5 bg-white rounded">
    <p>DogScover was founded with dogs and creatives in mind. When you step into a pet store, all you see is the same generic toys over and over again. It's rare to find toys and other products that don't fall apart or make your life easier. Our goal is to connect innovative products with dogs who want something new and different to experience.
    </p>
    <br>
    <p>  At DogScover, you will find something cool, something you didn't know you need, or something that will make you and your dog's life easier.
    </p>
    <br>
    <p>
    Here's how it works: 
    Someone has an idea for a new toy that no one has seen before. They create a project, give details about the product, and establish a funding goal. Once this funding goal is reached, the creator goes into production and all funders receive the final product. If the funding goal is not met, patrons will receive their money back.
    </p>
    <br>
    <p>
    The dog industry is growing at a rapid pace and there is unlimited potential in the kinds of products your dog can enjoy. We hope to bridge that gap and help make your best friend feel like a puppy again!
    </p>
    </div>
</div>